{% extends "layout.html" %}

{% block content %}
<div class="columns is-centered">
   <div class="column has-text-centered is-6">
      <p>Button Fade Out</p>
      <style>
         .fade-me-out.htmx-swapping {
            opacity: 0;
            transition: opacity 1s ease-out;
         }
      </style>
      <button class="fade-me-out" hx-delete="/htmx" hx-swap="outerHTML swap:5s">
         Fade Me Out
      </button>
   </div>
</div>

<div class="columns is-centered">
   <div class="column has-text-centered is-9">
      <div hx-get="/time" hx-trigger="every 10s">
         Fetching time
      </div>
   </div>
</div>

<div class="columns is-centered">
   <div class="column has-text-centered is-6">
      <input type="number" name="zip" placeholder="Zip Code"
         hx-get="/weather" hx-target="#weather-results" />
         <div id="weather-results"></div>
   </div>
</div>

</div>


{% endblock %}